In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
95,95,Kevin Martinez,M,11th,Huang High School,89,58,0,District,2917,1910635
96,96,Jessica Smith,F,9th,Huang High School,77,72,0,District,2917,1910635
97,97,Dawn Trujillo,F,11th,Huang High School,82,87,0,District,2917,1910635
98,98,Virginia Ramirez MD,F,10th,Huang High School,99,89,0,District,2917,1910635
99,99,Marc Hernandez,M,10th,Huang High School,87,63,0,District,2917,1910635

In [2]:
#Calculate the total number of schools
school_data_df = pd.DataFrame(school_data)
totalschools = len(school_data_df["school_name"])
totalschools

15

In [3]:
#Calculate the total number of students
totalstudents = len(school_data_complete["student_name"])
totalstudents

39170

In [4]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#Calculate the total budget
#find unique values in budget
budgets = school_data_df["budget"].sum()
budgets

24649428

In [6]:
#Calculate the average math score
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [7]:
#Calculate the average reading score
avg_read = school_data_complete["reading_score"].mean()
avg_read

81.87784018381414

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = len(school_data_complete[school_data_complete["math_score"] >= 70])
total_pass_math_percent = passing_math/totalstudents * 100
print(total_pass_math_percent)
print(passing_math)
print(totalstudents)

74.9808526933878
29370
39170

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_read = len(school_data_complete[school_data_complete["reading_score"] >= 70])
total_read_pass_percent = passing_read/totalstudents * 100
print(total_read_pass_percent)
print(passing_read)
print(totalstudents)

85.80546336482001
33610
39170

In [10]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#overall_pass = np.where(school_data_complete[school_data_complete["reading_score"] >= 70, [school_data_complete["math_score"] >= 70]]).sum()
passing_df = school_data_complete[school_data_complete["reading_score"] >= 70]
overall_pass = len(passing_df[passing_df["math_score"]>= 70])
overall_pass_percent = overall_pass/totalstudents * 100
overall_pass_percent

65.17232575950983

In [11]:
#Create a dataframe to hold the above results
District_Data = pd.DataFrame({
    "Total Schools" : [totalschools],
    "Total Students" : [totalstudents],
    "Total Budget" : [budgets],
    "Average Math Score" : [avg_math],
    "Average Reading Score" : [avg_read],
    "% Passing Math" : [total_pass_math_percent],
    "% Passing Reading" : [total_read_pass_percent],
    "% Overall Passing" : [overall_pass_percent]
})

In [12]:
#Optional: give the displayed data cleaner formatting
District_Data["Total Students"] = District_Data["Total Students"].astype(float).map("{:,.0f}".format)
District_Data["Total Budget"] = District_Data["Total Budget"].astype(float).map("${:,.2f}".format)
District_Data

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
#Create an overview table that summarizes key metrics about each school, including:
#School Name
school_data_df = school_data.groupby(["school_name"])
school_data_df.head()

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [14]:
#School Type
just_schools_df = pd.DataFrame(school_data)
just_schools_df.head(15)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [32]:
#Total Students per school

TypeError: 'DataFrame' object is not callable

In [16]:
#Total School Budget

In [34]:
#Per Student Budget
dollars_per_student = school_data['budget'] / school_data['size']
dollars_per_student

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [38]:
#Average Math Score
school_data_complete.groupby('school_name')['math_score'].mean()

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [39]:
#Average Reading Score
school_data_complete.groupby('school_name')['reading_score'].mean()

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
#% Passing Math

In [21]:
#% Passing Reading

In [22]:
#% Overall Passing (The percentage of students that passed math and reading.)

In [23]:
#Create a dataframe to hold the above results