In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Calculate the total number of schools
school_data_df = pd.DataFrame(school_data)
totalschools = len(school_data_df["school_name"])
totalschools

15

In [3]:
#Calculate the total number of students
totalstudents = len(school_data_complete["student_name"])
totalstudents

39170

In [4]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#Calculate the total budget
budgets = school_data_df["budget"].sum()
budgets

24649428

In [6]:
#Calculate the average math score
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [7]:
#Calculate the average reading score
avg_read = school_data_complete["reading_score"].mean()
avg_read

81.87784018381414

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = len(school_data_complete[school_data_complete["math_score"] >= 70])
total_pass_math_percent = passing_math/totalstudents * 100
print(total_pass_math_percent)
print(passing_math)
print(totalstudents)

74.9808526933878
29370
39170

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_read = len(school_data_complete[school_data_complete["reading_score"] >= 70])
total_read_pass_percent = passing_read/totalstudents * 100
print(total_read_pass_percent)
print(passing_read)
print(totalstudents)

85.80546336482001
33610
39170

In [10]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#overall_pass = np.where(school_data_complete[school_data_complete["reading_score"] >= 70, [school_data_complete["math_score"] >= 70]]).sum()
passing_df = school_data_complete[school_data_complete["reading_score"] >= 70]
overall_pass = len(passing_df[passing_df["math_score"]>= 70])
overall_pass_percent = overall_pass/totalstudents * 100
overall_pass_percent

65.17232575950983

In [11]:
#Create a dataframe to hold the above results
District_Data = pd.DataFrame({
    "Total Schools" : [totalschools],
    "Total Students" : [totalstudents],
    "Total Budget" : [budgets],
    "Average Math Score" : [avg_math],
    "Average Reading Score" : [avg_read],
    "% Passing Math" : [total_pass_math_percent],
    "% Passing Reading" : [total_read_pass_percent],
    "% Overall Passing" : [overall_pass_percent]
})

In [12]:
#Optional: give the displayed data cleaner formatting
District_Data["Total Students"] = District_Data["Total Students"].astype(float).map("{:,.0f}".format)
District_Data["Total Budget"] = District_Data["Total Budget"].astype(float).map("${:,.2f}".format)
District_Data

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
#Create an overview table that summarizes key metrics about each school, including:
#School Name, #School Type, #Total Students per school, #Total School Budget

In [14]:
#Per Student Budget
dollars_per_student = school_data['budget'] / school_data['size']

In [15]:
#Average Math Score
math_scores = school_data_complete.groupby('School ID')['math_score'].mean()

In [16]:
#Average Reading Score
reading_scores = school_data_complete.groupby('School ID')['reading_score'].mean()

In [17]:
#% Passing Math
schools_passing_math = school_data_complete.loc[school_data_complete['math_score']>=70]
math_by_school = schools_passing_math.groupby('School ID')['math_score'].count()
math_by_school_percent = math_by_school / school_data['size'] * 100

In [18]:
#% Passing Reading
schools_passing_reading = school_data_complete.loc[school_data_complete['reading_score']>=70]
reading_by_school = schools_passing_reading.groupby('School ID')['reading_score'].count()
reading_by_school_percent = reading_by_school / school_data['size'] * 100

In [19]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_by_school = school_data_complete.loc[school_data_complete['math_score']>=70]
overall_by_school = overall_by_school.loc[overall_by_school['reading_score']>=70]
overall_by_school = overall_by_school.groupby('School ID')['reading_score'].count()
overall_by_school_percent = overall_by_school / school_data['size'] * 100

In [20]:
#Create a dataframe to hold the above results
school_data_df['Per Student Spending'] = dollars_per_student
school_data_df['Average Reading Score'] = reading_scores
school_data_df['Average Math Score'] = math_scores
school_data_df['Percent Passing Reading'] = reading_by_school_percent
school_data_df['Percent Passing Math'] = math_by_school_percent
school_data_df['Percent Overall Passing'] = overall_by_school_percent
school_data_overview = school_data_df.sort_values('school_name').set_index('school_name')
school_data_overview = school_data_overview.drop(columns=['School ID'])
school_data_overview = school_data_overview.rename(columns={'type': "School Type",
                                                          'size': "Total Students",
                                                            'budget' :'Total School Budget'})
school_data_overview['Total School Budget'] = school_data_overview['Total School Budget'].astype(float).map("${:,.2f}".format)
school_data_overview['Per Student Spending'] = school_data_overview['Per Student Spending'].astype(float).map("${:,.2f}".format)
school_data_overview = school_data_overview.rename_axis('School Name')
school_data_overview

,School Type,Total Students,Total School Budget,Per Student Spending,Average Reading Score,Average Math Score,Percent Passing Reading,Percent Passing Math,Percent Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,81.033963,77.048432,81.933280,66.680064,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.975780,83.061895,97.039828,94.133477,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.158020,76.711767,80.739234,65.988471,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,80.746258,77.102592,79.299014,68.309602,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.816757,83.351499,97.138965,93.392371,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,80.934412,77.289752,80.862999,66.752967,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.814988,83.803279,96.252927,92.505855,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,81.182722,76.629414,81.316421,65.683922,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,80.966394,77.072464,81.222432,66.057551,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,84.044699,83.839917,95.945946,94.594595,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,80.744686,76.842711,80.220055,66.366592,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.725724,83.359455,95.854628,93.867121,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.848930,83.418349,97.308869,93.272171,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.989488,83.274201,96.539641,93.867718,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.955000,83.682222,96.611111,93.333333,90.333333

In [21]:
#Top Performing Schools (By % Overall Passing)
top_5_df = school_data_df.sort_values('Percent Overall Passing', ascending = False).set_index('school_name').head(5)
top_5_df = top_5_df.drop(columns=['School ID'])
top_5_df['Total School Budget'] = top_5_df['Total School Budget'].astype(float).map("${:,.2f}".format)
top_5_df

KeyError: 'Total School Budget'

In [ ]:
#Bottom Performing Schools (By % Overall Passing)
bottom_5_df = school_data_df.sort_values('Percent Overall Passing', ascending = True).set_index('school_name').head(5)
bottom_5_df = bottom_5_df.drop(columns=['School ID'])
bottom_5_df['Total School Budget'] = bottom_5_df['Total School Budget'].astype(float).map("${:,.2f}".format)
bottom_5_df

In [ ]:
#Math Scores by Grade**
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
ninth_math = school_data_complete.loc[school_data_complete['grade']=='9th']
ninth_math= ninth_math.groupby('school_name')['math_score'].mean()
tenth_math = school_data_complete.loc[school_data_complete['grade']=='10th']
tenth_math = tenth_math.groupby('school_name')['math_score'].mean()
eleventh_math = school_data_complete.loc[school_data_complete['grade']=='11th']
eleventh_math = eleventh_math.groupby('school_name')['math_score'].mean()
twelveth_math = school_data_complete.loc[school_data_complete['grade']=='12th']
twelveth_math = twelveth_math.groupby('school_name')['math_score'].mean()
math_scores = pd.DataFrame({
    "9th" : ninth_math, 
    "10th" : tenth_math,
    "11th": eleventh_math, 
    "12th" : twelveth_math})
math_scores

In [ ]:
#Reading Scores by Grade
ninth_reading = school_data_complete.loc[school_data_complete['grade']=='9th']
ninth_reading = ninth_reading.groupby('school_name')['reading_score'].mean()
tenth_reading = school_data_complete.loc[school_data_complete['grade']=='10th']
tenth_reading = tenth_reading.groupby('school_name')['reading_score'].mean()
eleventh_reading = school_data_complete.loc[school_data_complete['grade']=='11th']
eleventh_reading = eleventh_reading.groupby('school_name')['reading_score'].mean()
twelveth_reading = school_data_complete.loc[school_data_complete['grade']=='12th']
twelveth_reading = twelveth_reading.groupby('school_name')['reading_score'].mean()
reading_scores = pd.DataFrame({
    "9th" : ninth_reading, 
    "10th" : tenth_reading,
    "11th": eleventh_reading, 
    "12th" : twelveth_reading})
reading_scores

In [ ]:
#Scores by School Spending
#	• Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following: 
#		○ Average Math Score
#		○ Average Reading Score
#		○ % Passing Math (The percentage of students that passed math.)
#		○ % Passing Reading (The percentage of students that passed reading.)
#		○ % Overall Passing (The percentage of students that passed math and reading.)
spending_by_school_df = school_data_df
spending_by_school_df['Average Spending Per Student'] = dollars_per_student

In [ ]:
money_labels = ("< $597", "\$597-\$616", "\$616-\$635", "\$635-\$655" )
spending_by_school_df['Spending'] = pd.cut(spending_by_school_df['Average Spending Per Student'], bins = 4, labels = money_labels)
spending_by_school = spending_by_school_df.groupby('Spending').mean()
spending_by_school = spending_by_school[['Average Reading Score', 'Average Math Score', 'Percent Passing Math', 'Percent Passing Reading', 'Percent Overall Passing']]
spending_by_school = spending_by_school.rename_axis('Spending Ranges (Per Student)')
spending_by_school

In [ ]:
#Scores by School Size
#	• Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
size_labels = ("Small (<1950)","Medium (1950 - 3450)", "Large (3450 - 5000)" )
bins = (0, 1950, 3450, 5000)

In [ ]:
spending_by_school_df['School Size'] = pd.cut(spending_by_school_df['size'], bins, labels = size_labels)
grading_by_size= spending_by_school_df.groupby('School Size').mean()
grading_by_size = grading_by_size[['Average Reading Score', 'Average Math Score', 'Percent Passing Math', 'Percent Passing Reading', 'Percent Overall Passing']]
grading_by_size

In [ ]:
#Scores by School Type
#	• Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
grading_by_type = school_data_df.groupby('type').mean()
grading_by_type = grading_by_type[['Average Math Score', 'Average Reading Score','Percent Passing Math', 'Percent Passing Reading', 'Percent Overall Passing']]
grading_by_type=grading_by_type.rename_axis('School Type')
grading_by_type