In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
95,95,Kevin Martinez,M,11th,Huang High School,89,58,0,District,2917,1910635
96,96,Jessica Smith,F,9th,Huang High School,77,72,0,District,2917,1910635
97,97,Dawn Trujillo,F,11th,Huang High School,82,87,0,District,2917,1910635
98,98,Virginia Ramirez MD,F,10th,Huang High School,99,89,0,District,2917,1910635
99,99,Marc Hernandez,M,10th,Huang High School,87,63,0,District,2917,1910635

In [2]:
#Calculate the total number of schools
school_data_df = pd.DataFrame(school_data)
totalschools = len(school_data_df["school_name"])
totalschools

15

In [3]:
#Calculate the total number of students
totalstudents = len(school_data_complete["student_name"])
totalstudents

39170

In [ ]:

school_data_df.head(20)

In [ ]:
#Calculate the total budget
#find unique values in budget
budgets = school_data_df["budget"].sum()
budgets

In [ ]:
#Calculate the average math score

In [ ]:
#Calculate the average reading score

In [ ]:
#Calculate the percentage of students with a passing math score (70 or greater)

In [ ]:
#Calculate the percentage of students with a passing reading score (70 or greater)

In [ ]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)

In [ ]:
#Create a dataframe to hold the above results

In [ ]:
#Optional: give the displayed data cleaner formatting